.bold {
  font-size: 1vw;
}

#more {
  display: none;
}

.custombold {
  font-weight: bold !important;
}

.custombold1 {
  font-weight: bold !important;
  font-size: 36px !important;
}

.custombold2 {
  font-weight: bold !important;
  font-size: 25px !important;
}

.mb {
  margin-bottom: 155px;
}

.p-color {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.1vw;
  text-align: justify;
}

nav form input {
  border-radius: 20px !important;
  background-color: rgb(100, 188, 194) !important;
}

.navbar-brand {
  font-weight: bold;
  font-size: 30px !important;
}

nav form button {
  border-radius: 20px !important;
}

.form-control1 {
  width: 100% !important;
  padding: 2px;
  border-radius: 30px;
  color: blueviolet;
}

input:focus {
  border: none;
}

::placeholder {
  color: blueviolet;
}

.optional {
  background-color: rgb(230, 116, 116);
  opacity: 0.5;
  color: aliceblue;
}

.form-1 {
  background-color: rgb(163, 162, 162);
  opacity: 0.6;
  padding: 12px;
  width: 50%;
  text-align: left;
}

.form-2 {
  background-color: rgb(163, 162, 162);
  opacity: 0.7;
  padding: 12px;
  width: 100%;
}

.font {
  font-size: 15px !important;
}

.col {
  color: blue;
  font-size: 25px !important;
}

.pcolor-1 {
  color: black;
}

.form-control2 {
  width: 100%;
  padding: 2px;
  border-radius: 30px;
  color: blueviolet;
}

.btn {
  border-radius: 30px !important;
}

.footer {
  background-color: blueviolet;
}

.copyright {
  font-size: 10px;
}

.footerletter {
  font-size: 12px;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 60px;
}

#navbar {
  z-index: 1000000;
}